html5
html
  head
      title=pageTitle
  body
      header
           h1= pageTitle
        section.login
          div
             ul
                li
                   a(href="layouts") Logout
          
                li
                    a(href="login") Login
                li
                    a(href="signup") Create Account
        section.content
          block content